:root {
  --vp-c-brand-1: #aa3de9;
  --vp-c-brand-2: #c585eb;
  --vp-button-brand-bg: #aa3de9;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );
  --vp-home-hero-image-background-image: #c664ff !important;
  --vp-home-hero-image-filter: blur(72px) !important;
}

.VPHero {
  margin-top: 6rem !important;
}

.image-bg {
  background: #8d17d1;
  filter: blur(72px);
}

.VPButton {
  border-radius: 10px !important;
}

/* .brand {
  background: linear-gradient(
    303deg,
    #bd34fe 35.21%,
    #41d1ff 68.34%
  ) !important;
} */

a {
  text-decoration: none !important;
}

.VPNavBarSearch {
  flex-grow: 0;
}
